footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid #181818;
}

.footer-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 10rem;
}

.footer-nav a{
  margin-left: 15px;
  opacity: .6;
  transition: opacity .4s ;
}

.footer-nav a:hover{
    opacity: 1;
}


.text-sm{
    color: rgb(163, 163, 163);
    font-size: .875rem;
}

.link-img{
    width: 30px;
    height: auto;
}