
.side-bar.open{
    position: fixed;
    background: linear-gradient(#0e0e64,#160b40);

    top: 0;
    bottom: 0;
    left: 0;
    right: 93%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: right .3s ease-in-out;

    
}

.side-bar.close{
    position: fixed;
    background: linear-gradient(#0e0e64,#160b40);
    top: 0;
    bottom: 0;
    left: 0;
    right: 97.5%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: right .3s ease-in-out;

}

.img-fit{
    width: 100%;
    height: 100%;
  object-fit: cover;
}
.side-item{
    display: block;
    text-align: center;
    margin-bottom: 40px;
    text-decoration: none;
    color: white;
    opacity: .7;
    font-size: 15px;
}

.side-active{
    display: block;
    text-align: center;
    margin-bottom: 40px;
    text-decoration: none;
    color: white;
    opacity: 1;
    font-size: 15px;
}

.side-item:hover{
    opacity: 1;
    transition: "opacity" .2s ease-in-out;
}

.side-user{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;


}

.font-user{
    font-weight: bold;    
    font-size: 19px;
    font-style: italic;
    
}

.side-item:last-child{
    margin-top: 60px;
    margin-bottom: 10px;
}

.logo-item{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
    height: auto;
}

.lateral{
    position: fixed;
    top: 3%;
    left: 4px;
    width: 30px;
    opacity: .9;
    transition: all .2s ease-in-out;
    margin-right: 10px;
    margin-bottom: 10px
}

.lateral:hover{
    cursor: pointer;
    opacity: 1;
}

.area{
    position: relative;
    margin-bottom: 90px;
}

#input-area{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  border: 2px solid white;
    background-color: white;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  transition: opacity .3s ;
}

#input-area:hover{
    opacity: .7;
    cursor: pointer;
    border: 2px solid white;
}

.upload-text {
    font-size: 30px;
    color: #aaa;
  }
